# Input variables
subnet_ocid         = "<ocid-of-theprivate-subnet-for-mysql-here>" 
password_ocid       = "<ocid-of-your-password-secret-here>"
vault_ocid          " "<ocid-ofyour-vault-for-secrets-here>"

# Provider
region              = "<region-identifier>"
tenancy_ocid        = "<your-tenancy-ocid>"
compartment_ocid    = "<yoru-compartment-ocid>"
user_ocid           = "<your-user-ocid>"
fingerprint         = "<your-api-key-fingerprint>"
private_key_path    = "<path-to-uour-api-key>"
