# Input variables
subnet_ocid         = "<ocid-of-theprivate-subnet-for-mysql-here>" 
password_ocid       = "<ocid-of-your-password-secret-here>"
priv_endpoint_ocid  = "<ocid-of-private-endpoint-to-be-used-by-new-connection>"

# Provider
region              = "<region-identifier>"
oci_cli_profile     = "<name-of-your-profile>"
tenancy_ocid        = "<your-tenancy-ocid>"
